*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    position: fixed;
    top: 0%;
    padding: 0px 50px;
    background: linear-gradient(800deg, #3a1624, #711613);
}
body{
    align-items: center;
    display: flex;
    flex-direction: column;
}

  .logoimg{
        height: 115px;
        width: 120px; 
  }
  .menu-btn{ 
    cursor: pointer;
    background: transparent;
    border: none;
    width: 50px;
    height: auto;
}
.menu-btn:hover{
    transition: .2s linear; 
    background: white;
    height: 55px;
    width: 60px;
    border-radius: 8px;
}

.blog-title:before,
.blog-title:after {
    background-color: #adabab;
    content: "";
    display: inline-block;
    height: 4px;
    border-radius: 15px;
    vertical-align: middle;
    border: 0.5px solid #acaaaa;
    width: 60%;
}

.blog-title:before {
    right: .5em;
    margin-left: -60%;
}

.blog-title:after {
    left: .5em;
    margin-right: -60%;
}

h1 {
    margin-top: 40px;
    padding: 30px;
    color: #6e6e6e;
    margin-bottom: -40px;
}
.subti{
    margin-top: 5em;
    margin-bottom: 30px;
    padding: 5px 100px;
    color: #6e6e6e;
    border-radius: 2px;
    border-bottom: 4px solid #adabab;
}
.divPedido{
  box-shadow: 0px 3px 13px #3f0c0b; 
  background: #94443c;
  border-radius: 5px;
  padding: 20px;
  width: 60vw;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}
.divPedidoBranca_Pendente {
    border-radius: 5px;
    width: auto;
    background-color: #fafdff;
}
.divPedidoBranca_Processo {
    border-radius: 5px;
    width: auto;
    background-color: #fafdff;;
}
.divPedidoBranca_Concluido {
    border-radius: 5px;
    width: auto;
    background-color: #fafdff;
}
.divPedidoBranca_vazia{
    color: #474646;
    height: 10vh;
    border-radius: 10px;
    width: 90%;
    background-color: #fafdff;
    font-size: 23px;
    align-items: center;
    display: flex;
    
}
.tabela{
    border: 3px solid #adabab;
    border-radius: 10px;
    overflow: hidden;
    height: 10vh;
    width: 55vw;
    background: #fafdff;
    cursor: default;
}
.textoPedido{
    text-align: center;
    width: 100%; 
}
.textoProcesso{
    text-align: center;
    width: 100%; 
}
th{ 
    color: #383737;
    background-color: #adabab;
    padding: 10px;
}
td{
    padding: 10px;
    text-align: center;
    border: none;
    border-bottom: 2px solid #adabab;
}
/**Quebra de linha na descrição**/
.td_desc{
    width: 10vw;
    text-align: left;
    word-break: break-word;
}

tr:nth-child(even){
    background:#e1e4e6;
  }

img{   
    margin-top: 5px;
    width: 80px;
    height: auto;
    border-radius: 5px; 
}
.divStatus{
    display: inline-block;
}
.divCancelado{
    display: inline-block;
}
input[type=submit]{
    cursor: pointer;
}
.buttonPedidoPendente {
    padding: 0px 5px;
    width: 100px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border: 3px solid #fcc204;
    border-radius: 5px;
}
.buttonPedidoPendente:hover {
    background-color: #fcc204;
    color: white;
    opacity: 0.9;
}
.buttonPedidoCancelado{
    display: inline-block;
    padding: 0px 5px;
    width: 130px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border: 3px solid red;
    border-radius: 5px;
}
.buttonPedidoCancelado:hover {
    background-color: red;
    color: white;
    opacity: 0.9;
}
.buttonPedidoConcluido{
    display: inline-block;
    padding: 0px 5px;
    width: 130px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border: 3px solid #80d668;
    border-radius: 5px;
}
.buttonPedidoConcluido:hover {
    background-color: #80d668;
    color: white;
    opacity: 0.9;
}
.buttonPedidoFinalizado{
    display: inline-block;
    padding: 0px 5px;
    width: 130px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border: 3px solid rgb(56, 65, 97);
    border-radius: 5px;
}
.buttonPedidoFinalizado:hover {
    background-color: rgb(56, 65, 97);
    color: white;
    opacity: 0.9;
}

footer{
    animation: anima 700ms ease;   
    color: #fafdff;
    align-items: center;
    margin-top: 20vh;
    width: 100%;
    height: 60px;
    display: flex;
    background: #444;
    padding: 0px 50px; 
}